body {
  padding: 0;
  margin: 0 auto;
  width: 1443px;
  height: 820px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
#header_wrapper {
  width: 1443px;
  height: 50px;
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: rgb(8, 131, 193);
}

#left_btn_area {
  width: 10%;
  margin: 10px 0;
  text-align: center;
}

#center_area {
  width: 80%;
  display: flex;
}

#right_btn_area {
  width: 10%;
  margin: 0 auto;
  text-align: center;
}

#left_area {
  width: 50%;
  display: flex;
  padding-top: 10px;
  padding-right: 100px;
  justify-content: flex-end;
}

#right_area {
  width: 50%;
  display: flex;
  padding-top: 10px;
  padding-left: 100px;
  justify-content: flex-start;
}

#left_area li {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 18px;
}

#right_area li {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 18px;
}

/* topPage */
.mainPageWrapper {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.messageBox {
  text-align: center;
}

.loginBoxWrapper {
  padding-top: 50px;
  width: 100%;
  height: auto;
  text-align: center;
}

.loginBox {
  display: inline-block;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

/* WelcomePage */
.welcomeMessageBox {
  margin-left: 500px;
}

.createBoxWrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: column;
  padding-top: 50px;
  margin: 0 auto;
}

.createMessageBox {
  text-align: center;
}

.createBtnWrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.createBtnBox {
  margin-top: 10px;
  border-radius: 10px;
  font-size: 18px;
}


.project_title {
  padding-top: 30px;
}


.project_box {
  display: inline-block;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  position: relative;
  background-color: #E5E5E5;
}


/* flowchart_page */
.flowchart_page_wrapper {
  padding-top: 60px;
  width: 1443px;
  height: 100%;
  background-color: #E5E5E5;
  z-index: 1;
}

#titleArea {
  width: 228px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E5E5;
  z-index: 2;
}

#flowChartArea {
  width: 937px;
  height: 100%;
  position: relative;
  top: 0;
  left: 228px;
  background-color: #fff;
  z-index: 2;
  white-space: nowrap;
  overflow: scroll;
}

#functionArea {
  width: 278px;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 1203px;
  display: flex;
  flex-direction: row;
  background-color: #E5E5E5;
  z-index: 2;
}

/* titleArea */
.user_project_box {
  width: 220px;
  height: 150px;
  border: none;
  border-radius: 20px;
  background-color: #FBFCFB;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.plus_btn_wrapper {
  margin-left: 80%;
}

/* functionArea */
#confirmationArea {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnArea {
  width: 78px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* confirmationArea */
#startEnd {
  width: 141px;
  height: 50px;
  background: #8EFE59;
  border: 5px solid #298907;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#branch {
  width: 75px;
  height: 75px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-45deg) skew(25deg, 25deg);
}

#process {
  width: 141px;
  height: 40px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#input {
  width: 141px;
  height: 40px;
  transform:skewX(-20deg);
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#loopStart {
  width: 141px;
  height: 64px;
  background-color: #BDA1BF;
  background:
  linear-gradient(-135deg, transparent 15px, #BDA1BF 0) right,
  linear-gradient(135deg, transparent 15px, #BDA1BF 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

#loopEnd {
  width: 141px;
  height: 64px;
  background:
  linear-gradient(-45deg, transparent 15px, #EF9EF7 0) right,
  linear-gradient(45deg, transparent 15px, #EF9EF7 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

#display {
  width: 169px;
  height: 50px;
  margin-right: 26px;
  background:
  linear-gradient(135deg, transparent 35px, #C4C4C4 0) top right,
  linear-gradient(45deg, transparent 35px, #C4C4C4 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}

#connectOut {
  width: 51px;
  height: 51px;
  background-color: #C4C4C4;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#connectIn {
  width: 40px;
  height: 40px;
  background-color: #C4C4C4;
}
#connectIn:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -10px;
  left: 0;
  border-style: solid;
  border-color: #C4C4C4 transparent transparent transparent;
  border-width: 10px 20px 0px 20px;
  z-index: 3;
}

.flowChartItems {
  margin-top: 20px;
  display: flex;
  position: relative;
}
.flowChartItems:nth-child(-n+3) {
  margin-top: 10px;
}
.flowChartItems:hover {
  border: 4px solid #5974fe;
}

.fontClass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

#branchFontReset {
  position: absolute;
  top: 40%;
  left: 30%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  transform: skew(-25deg, -25deg) rotate(45deg);
}

/* flowChartArea */
#flowChartArea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #EBEAEA;
}
#flowChartArea::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
}

/* btnArea */
#functionBtn {
  width: 65px;
  height: 497px;
  margin-top: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFDFD;
  background: #FFFDFD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box_type {
  width: 54px;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #565656;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.box_type1 {
  background-color: #E7E7E7;
}

.box_type2 {
  background-color: #A5A5A5;
}

.howToBtn {
  margin-right: 15px;
  margin-top: 70px;
}

/* btnClassArea */
/* userBtn */
.user_btn a {
  background: #eee;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 100px;
  padding: 5px 10px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.user_btn a:hover {
  background: #313131;
  color: #FFF;
}

.user_btn a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

.user_btn a:hover:after {
  border-color: #FFF;
}

/* share_btn */
.share_btn a {
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  padding: 5px 10px;
  max-width: 100px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgba(149,202,252);
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.share_btn a:hover {
  background: rgb(117,188,255);
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

/* topPage > loginBtn */
.loginBtn {
  width: 80%;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 22px;
}

.project_name_btn {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 50px;
}

.create_project_btn {
  margin-top: 60px;
  margin-left: 250px;
  padding-top: 2px;
  height: 40px;
  width: 110px;
  font-size: 20px;
  border-radius: 10px;
}

.box_shadow {
  display: flex;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.how_to_btn {
  width: 80px;
  height: 29px;
  border-radius: 50px;
  background-color: #FFFDFD;
  text-align: center;
  padding: 2px 0;
}

.plusBtn {
  border: none;
  cursor: not-allowed;
}

/* hover box_border */
.box_flame:hover {
  padding: 1em;
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 6px #696969;
}
