body {
  padding: 0;
  margin: 0 auto;
  width: 1443px;
  height: 820px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header > main_page */
.header_nav {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: rgb(8, 131, 193);
}

.main_list {
  display: flex;
  margin: auto 0;
}

.main_list li {
  margin: 0 20px;
}

.main_list li a {
  color: #FFF;
}

/* header > flowchart */
.center_nav {
  width: 80%;
  display: flex;
}

.nav_left {
  width: 50%;
  display: flex;
  padding-top: 10px;
  padding-right: 100px;
  justify-content: flex-end;
}

.nav_right {
  width: 50%;
  display: flex;
  padding-top: 10px;
  padding-left: 100px;
  justify-content: flex-start;
}

.left_btn {
  width: 10%;
  margin: 10px 0;
  text-align: center;
}

.right_btn {
  width: 10%;
  float: right;
  text-align: center;
}

.nav_left li {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 18px;
}

.nav_right li {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 18px;
}

.nav_left a {
  color: #fff;
}

.nav_right a {
  color: #fff;
}

/* main_page */
.page_wrapper {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.welcome_message {
  margin-left: 500px;
}

.create_message {
  text-align: center;
}

.message_wrapper {
  text-align: center;
}

.login_wrapper {
  padding-top: 50px;
  width: 100%;
  height: auto;
  text-align: center;
}

.project_title {
  padding-top: 30px;
}

.login_box {
  display: inline-block;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.project_box {
  display: inline-block;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  position: relative;
  background-color: #E5E5E5;
}

/* welcome_page */
.welcome_wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: column;
  padding-top: 50px;
  margin: 0 auto;
}

/* flowchart_page */
.flowchart_page_wrapper {
  display: flex;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
}

/* flowchart_left */
.flowchart_left_nav {
  width: 20%;
  height: 989px;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user_project_box {
  width: 96%;
  height: 192px;
  border: none;
  border-radius: 20px;
  background-color: #FBFCFB;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.plus_btn_wrapper {
  margin-left: 80%;
}

/* flowchart > center */
.flowchart_create_box {
  width: 60%;
  height: 989px;
  background-color: #fff;
}

/* flowchart > right */
.flowchart_right_nav {
  width: 20%;
  height: 989px;
  display: flex;
  background-color: #E5E5E5;
}

#confirmationArea {
  width: 206px;
  height: 916px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startEnd {
  width: 141px;
  height: 50px;
  border: 1px solid #000;
}

#branch {
  width: 99.7px;
  height: 99.7px;
  border: 1px solid #000;
}

#process {
  width: 141px;
  height: 40px;
  border: 1px solid #000;
}

#input {
  width: 141px;
  height: 40px;
  border: 1px solid #000;
}

#loopStart {
  width: 141px;
  height: 64px;
  border: 1px solid #000;
}

#loopEnd {
  width: 141px;
  height: 64px;
  border: 1px solid #000;
}

#display {
  width: 137px;
  height: 50px;
  border: 1px solid #000;
}

#connectOut {
  width: 51px;
  height: 51px;
  border: 1px solid #000;
}

#connectIn {
  width: 41px;
  height: 45px;
  border: 1px solid #000;
}

.flowchart_items {
  margin-top: 10px;
}

#btnArea {
  width: 82px;
  height: 797px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFDFD;
  border: 1px solid rgb(179, 179, 179);
  margin-top: 30px;
  margin-left: 45px;
}

.box_type {
  width: 54px;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #565656;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.box_type1 {
  background-color: #E7E7E7;
}

.box_type2 {
  background-color: #A5A5A5;
}

.how_to_btn_box {
  margin-top: 100px;
  margin-left: 200px;
}

/* btn */
.user_btn a {
  background: #eee;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 100px;
  padding: 5px 10px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.user_btn a:hover {
  background: #313131;
  color: #FFF;
}

.user_btn a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

.user_btn a:hover:after {
  border-color: #FFF;
}

/* share_btn */
.share_btn a {
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 13px;
  margin-left: 20px;
  max-width: 100px;
  padding: 4px 10px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgba(149,202,252);
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.share_btn a:hover {
  background: rgb(117,188,255);
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

.login_register_btn {
  width: 80%;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 22px;
}

.project_name_btn {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 50px;
}

.create_project_btn {
  margin-top: 60px;
  margin-left: 250px;
  padding-top: 2px;
  height: 40px;
  width: 110px;
  font-size: 20px;
  border-radius: 10px;
}

.choice_btn_wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.choice_btn {
  margin-top: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.box_shadow {
  display: flex;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.how_to_btn {
  width: 83px;
  height: 29px;
  border-radius: 50px;
  background-color: #FFFDFD;
  text-align: center;
  padding: 2px 0;
}

.plus_btn {
  border: none;
}

/* hover box_border */
.box_flame:hover {
  padding: 1em;
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 6px #696969;
}
